<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :start_datetime %>
    <%= form.datetime_select :start_datetime, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :end_datetime %>
    <%= form.datetime_select :end_datetime, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :length_of_students %>
    <%= form.number_field :length_of_students, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit%>
  </div>
<% end %>
