<% if current_user.student? %>
  <%= search_form_for @q, remote: true do |f| %>
    <%= f.select(:status_eq, RequestCourse.statuses.to_a.map { |w| [w[0].humanize, w[1]] } ,{:include_blank => true}, {class: "form-control select2"}) %><br>
    <%= f.submit "Search", class: "btn btn-success float-right ml-2"%>
  <% end %>
<% end %>

<h1>Request Courses</h1>
<div id="course_list">
  <%= render 'list' %>
</div>
<%= link_to 'Back', root_path %>

